* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.service-box {
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 400px;
}

.service-heading {
  padding: 20px 20px;
}

.service-contents-box {
  width: 840px;
  margin: 50px auto;
}